  html, body{
    margin:0;
    padding:20;
    min-height:100dvh;
    overflow-x:hidden;
    

    font-family: Montserrat, sans-serif;
    background: linear-gradient(135deg, #31302f, #31302f 40%, #d9bf30);
}
html{
scroll-behavior: smooth;
}

    /* topo do site */
        header{
color:#d9bf30;
padding:20px;

display:flex;
justify-content:space-between;  
align-items:center;
}

/* imagem do topo */
    header img{
        width: 100px;
        border-radius:8px;
    }
/*WHATS*/
.whatsapp-button{
    position: fixed;
    bottom: 20px;
    right: 20px;

    background:#d9bf30;
    padding:10px;
    border-radius:50%;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);

    z-index:9999;
}

.whatsapp-button img{
width:30px;
height:30px;
display:block;
}

.whatsapp-button:hover{
transform:scale(1.1);
transition:0.3s;
}

/*CARROSSEL*/
.swiper {
    width: 100vw;
    height: 80vh;
    margin-left: calc(-50vw + 50%);
    background:transparent;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper-slide img {
    object-fit: cover;
}

@media (max-width: 600px) {
    .swiper-slide img {
        object-fit: contain;
    }
}
/*botao saiba mais*/
.botao-saiba-mais{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    background:#d9bf30;
    color:#31302f;

    padding:12px 30px;
    border-radius:30px;

    font-weight:bold;
    text-decoration:none;

 box-shadow: inset 0 3px 10px rgba(0,0,0,0.3);

    z-index:1000;
}

.botao-saiba-mais:hover{
    transform: translateX(-50%) scale(1.05);
    transition:0.3s;
}
/*botao sobre*/
.botao-sobre{
    position:absolute;
    top:50px;
    right:20px;

    background:#d9bf30;
    color:#31302f;

    padding:10px 25px;
    border-radius:30px;

    font-weight:bold;
    text-decoration:none;

    box-shadow:0 5px 15px rgba(0,0,0,0.3);

    transition:0.3s;
}

.botao-sobre:hover{
    transform:scale(1.05);
}

/*botao tabela*/
/* BOTÕES PARA TROCAR TABELA */
.botoes-tabela {
    display: flex;
    gap: 10px;
    margin-bottom: 20px; 
}

.botoes-tabela button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #31302f;
    color: #d9bf30;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.botoes-tabela button:hover {
    background: #d9bf30;
    color: #000;
}


/* grid */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  
}

/* card */
.card {
    background: #1a1a1a; /* escuro elegante */
    color: #fff;
    padding: 20px;
    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border: 1px solid rgba(217,191,48,0.2);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}

/* título */
.card h2 {
    color: #d9bf30;
    text-align: center;
    margin-bottom: 10px;
}   
.card p {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 5px 0;
}
/* preço */
.preco {
    color: #d9bf30;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* destaque */
.destaque {
    border: 2px solid #d9bf30;
}

/* extras menores */
.pequeno {
    text-align: center;
}

.titulo {
    text-align: center;
    font-size: 32px;
    color: #d9bf30;
    margin: 40px 0 20px;
    position: relative;
}

/* linha decorativa */
.titulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #d9bf30;
    margin: 10px auto 0;
}