  html, body{
    margin:0;
    padding:0;
    min-height:100dvh;
    overflow-x:hidden;
    

    font-family: Montserrat, sans-serif;
    background: linear-gradient(135deg, #31302f, #31302f 40%, #d9bf30);
}

    /* topo do site */
        header{
color:#d9bf30;
padding:20px;

display:flex;
justify-content:space-between;  
align-items:center;
}

/* imagem do topo */
    header img{
        width: 100px;
        border-radius:8px;
    }
/*WHATS*/
.whatsapp-button{
    position: fixed;
    bottom: 20px;
    right: 20px;

    background:#d9bf30;
    padding:10px;
    border-radius:50%;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);

    z-index:9999;
}

.whatsapp-button img{
width:30px;
height:30px;
display:block;
}

.whatsapp-button:hover{
transform:scale(1.1);
transition:0.3s;
}

/*CARROSSEL*/
.swiper{
    width:100%;
    padding:60px 0;
}

.swiper-slide{
    width:300px;
}

.swiper-slide img{
    width:100%;
    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,0.4);

    transition:0.3s;
}
/*botao saiba mais*/
.botao-saiba-mais{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    background:#d9bf30;
    color:#31302f;

    padding:12px 30px;
    border-radius:30px;

    font-weight:bold;
    text-decoration:none;

 box-shadow: inset 0 3px 10px rgba(0,0,0,0.3);

    z-index:1000;
}

.botao-saiba-mais:hover{
    transform: translateX(-50%) scale(1.05);
    transition:0.3s;
}
/*botao sobre*/
.botao-sobre{
    position:absolute;
    top:50px;
    right:20px;

    background:#d9bf30;
    color:#31302f;

    padding:10px 25px;
    border-radius:30px;

    font-weight:bold;
    text-decoration:none;

    box-shadow:0 5px 15px rgba(0,0,0,0.3);

    transition:0.3s;
}

.botao-sobre:hover{
    transform:scale(1.05);
}
